async-generator==1.10
certifi==2021.5.30
cryptography==3.4.7
decorator==5.0.7
Django==3.2.3
django-rest-swagger==2.2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
drf-yasg==1.20.0
mysql-connector-python==8.0.25
mysqlclient==2.0.3
PyJWT==2.1.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
simplejson==3.17.2
sqlparse==0.4.1
testpath==0.4.4
timing==0.4.0
urllib3==1.26.5
version-query==1.1.0

