body {
    'background: #3F9999;
    'background: #688787;
     background: #369C9C;

}

aside {
    float: left;
    background: #688787;
    height: 100vh;
    width: 18%;
    padding: 2.5%;
    color: #686B6B;
    border-right: 1px solid #000;
}

aside img {
    float: top;
}

aside .Logo {
    color: #686B6B;
    font-size: 20px;
    margin-left: 10px;
}

aside ul {
    list-style: none;
    margin-top: 10px;
}

aside ul li {
    color: #0F3069;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    transition: transform 0.05s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #686B6B;
    text-decoration: none;
    transform: scale(1.05);
}

.main-block{
    margin: 20px;
    padding: 20px;
    border: 4px solid;
    border-radius: 20px;
}

button{
    position: fixed;
    left:30%;
    top: 80%;
}
