body {
    'background: #3F9999;
    'background: #688787;
    '#B0D6D2;
}

aside {
    float: left;
    background: #A1C4C4;
    height: 100vh;
    width: 18%;
    padding: 2.5%;
    color: #fff;
    border-right: 1px solid grey;
}

aside img {
    float: top;
}

aside .Logo {
    font-size: 30px;
    margin-left: 10px;
}

aside ul {
    list-style: none;
    margin-top: 10px;
}

aside ul li {
    color: #0F3069;
    font-size: 25px;
    display: block;
    margin-top: 10px;
    transition: transform 0.1s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
}
ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-block{
    float: left;
    width: 70%;
    margin: 20px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.main-name{
    color: #50555E;
    font-size: 25px;
    display: block;
    margin-top: 10px;
    transition: transform 0.1s ease;
}

.main-logo{
    color: #50555E;
    font-size: 25px;
    display: block;
    margin-top: 10px;
}
.main-name:hover {
    color: #0F3069;
    text-decoration: none;
    transform: scale(1.1);
}

.add-block{
    float: left;
    width: 70%;
    margin: 20px;
    padding: 20px;
}

form{
    padding: 40px;
    margin-left:32%;
    width:500px;
}
.main-list {
    height: 100vh; /* высота нашего блока */
    overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}

