{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Add homework{% endblock %}

{% block content %}
<div class="main-list">
    <form method="post" enctype="multipart/form-data">
        <h1>Add homework</h1>
        {% csrf_token %}
        {{ form.datetime}}<br>
        {{ form.attachment}}<br>
        {{ form.completed }}<br>
        {{ form.task }}<br>
        <span>{{ error }}</span><br>
        <button class="btn btn-success" type="submit">Add homework</button>
    </form>
</div>
{% endblock %}