{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
<span class="Logo">{{course.name}}</span>
{% endblock %}

{% block content %}
<div class="main-list" >
    {% if perms.auth.add_user %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.name}}<br>
        {{form.date}}<br>
        {{form.users}}<br>
        <button class="btn btn-success" type="submit">Add User</button><br>
        </form>
    {% endif %}
    <table class="table" style="width: 65%">
        <tr>
            <th scope="col">Users</th>
<!--            <th scope="col" style="width: 60px">Role</th>-->
            {% if perms.auth.delete_user %}
                <th scope="col" style="width: 60px">Delete</th>
            {% endif %}
            {% if perms.auth.change_user %}
                <th scope="col" style="width: 60px">Update</th>
            {% endif %}
        </tr>
        {% if users %}
        {% for el in users %}
        <tr>
            <td>{{el.username}}</td>
<!--            <td>{{el.userrole}}</td>-->
            {% if perms.auth.delete_user %}
                <td><a href="{% url 'delete' el.id %}">Delete</a></td>
            {% endif %}
            {% if perms.auth.change_user %}
                <td><a href="{% url 'update' el.id %}">Update</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}