{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
    <span class="Logo">Course</span>
        <ul>
            <a href="{% url 'lectures' %}"><li><i class="fas fa-chalkboard-teacher"></i> Lectures </li></a>
            <a href="{% url 'tasks' %}"><li><i class="fas fa-tasks"></i> Tasks </li></a>
            <a href="{% url 'users_home' %}"><li><i class="fas fa-book-reader"></i> Users </li></a>
        </ul>
    <a href="{% url 'home' %}"><button class="btn btn-info btn-pos">Home</button></a>
{% endblock %}

{% block content %}
{% endblock %}