{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

<!--{% block aside %}-->
<!--    <img src="{% static 'main/img/img_LeverX.png' %}" alt="Logo">-->
<!--    <span class="Logo">Lectures</span>-->
<!--&lt;!&ndash;        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="{% url lectures %}"><li><i class="fas fa-chalkboard-teacher"></i> Лекции </li></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="{% url tasks %}"><li><i class="fas fa-tasks"></i> Задания </li></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="{% url users %}"><li><i class="fas fa-book-reader"></i> Пользователи </li></a>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--{% endblock %}-->

{% block content %}
    <h1>{{ title }}</h1>
{% endblock %}