{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ el.name }}{% endblock %}

{% block content %}

<div class="main-list">
    <h1>Tasks</h1>
    <ul class="no-bullets">
        {% if tasks %}
        {% for el in tasks %}
        <li>
            <div class="main-block">
                <button style="margin: 5px; position:relative; top:10px;"
                        type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{el.id}}">{{el.name}}
                </button>
                <div id="{{el.id}}" class="collapse" style="padding : 3em">
                    {{el.text}}
                </div>
                <div style="margin: 5px; float: right; position:relative; top:10px;">
                    <a href="{% url 'taskcontrol' el.id %}" class="btn btn-info">Home Tasks</a>

                    {% if perms.main.delete_task %}
                    <a href="{% url 'delete_task' el.id %}" class="btn btn-warning">Delete task</a>
                    {% endif %}
                    {% if perms.main.change_task %}
                    <a href="{% url 'update_task' el.id %}" class="btn btn-info">Update task</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <p> No records </p>
        {% endif %}
        <li>
            <div class="add-block">
                <a href="{% url 'create_task' lecture %}">
                    <button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add task</button>
                </a>
            </div>
        </li>
    </ul>
    {% endblock %}