{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ el.name }}{% endblock %}

{% block content %}

<div class="main-list">
    <ul class="no-bullets">
        {% if tasks %}
        {% for el in tasks %}
        <li>
            <div class="main-block">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{el.id}}">{{el.name}}
                </button>
                <div id="{{el.id}}" class="collapse" style="padding : 3em">
                    {{el.text}}
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <p> No records </p>
        {% endif %}
        <li>
            <div class="add-block">
                <a href="{% url 'create_task' %}">
                    <button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add task</button>
                </a>
            </div>
        </li>
    </ul>
    {% endblock %}